.container{
  height: 100vh;
}
.headerScroll{
  height: calc(100vh - 64px) !important;
}
.layout-container-demo .el-main {
  padding: 0;
}
.leftMenu{
  background: #191a23;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  position: relative;
  z-index: 3;
}
.logo{
  text-align: center;
  line-height: 64px;
  font-size: 38px;
  font-weight: bold;
  color: #FFFFFF;
}
.rightMain :deep(.el-header){
  padding-left: 0;
  padding-right: 0;
}