@media print {
  @page {
    margin-bottom: 0mm; //去掉页脚
    margin-top: 1mm;
  }
 .el-table{
   max-width: 100%;
   border: 1px solid #ebeef5;
   border-right-width: 2px;
 }
 
 .el-tabel--mini .el-tabel__cell {
    border: 1px solid #ebeef5;
 }
}
.printTable{
  position: absolute;
  left: -5000px;
  top: 0;
}